/* Background untuk halaman Home */
.HomeBG {
  background: linear-gradient(135deg, #8f8fff, #2200ff); /* Gradasi biru yang memberikan kesan dimensi dan kedalaman */
  /* padding: 20px; */
  /* min-height: 100vh; Memastikan halaman ini mengambil seluruh tinggi layar */
  /* display: block; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px; /* Memberikan sudut melengkung agar lebih modern */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan kedalaman */
  /* font-size: larger; */
}

.HomeTitle{
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
}

/* Card TMA */
.cardTMA{
  min-width: 32.5 + "%";
}

.paddingAll{
  /* padding: 10px 10px 10px 10px; */
  padding-left: 10px;
  margin-top: 20px;
}

.waterValue{
  font-weight: 600;
}

.watersubValue{
  font-size: 16px;
  font-weight:400;
  margin-top: -10px;
}

.iconStyle{
  padding-top: 20px;
  padding-left: 20px;
}

.iconStyleButton{
  padding-top: 20px;
  padding-left: 20px;
}

.iconFL{
  width: 70px;
  margin-bottom: -10px;
}

.countText{
  /* margin-bottom: 100px; */
  margin-top: 50px;
  /* font-size: 12px; */
  color: rgb(0, 0, 0)
}

/* .card{
  border-radius: 20px;
} */

/* typewriter effect */
/* Keyframes for the typewriter effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 97%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 3px solid yellow;
  }
  50% {
    border-right: 10px;
  }
}

/* Apply the typing effect to the element */
.typewriter {
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the text that hasn't been typed yet */
  border-right: 3px solid yellow; /* Simulate the typing cursor */
  animation: typing 2s steps(30) 1s 1 normal both, blink 0.75s infinite step-end;
  font-family: 'Courier New', Courier, monospace; /* Optional: for a typewriter-like font */
}

/* After typing is done, remove the blinking cursor */
.typewriter.finished {
  animation: typing 2s steps(30) 1s 1 normal both, none;
  border-right: none;
  text-align: center; /* Center the text after typing is finished */
}
